* {
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial;
    color:#732f24
}

nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.8s ease forwards;
}

.brand-logo {
    display: inline-block;
    margin: 0;
    position: relative;
    top: 10px;
}

.brand-logo img {
    transition: transform 0.3s ease;
}

.brand-logo:hover img {
    transform: scale(1.2);
}

.links-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.cart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cart img {
    width: 26px;
    display: block; 
    transition: transform 0.3s ease;
}

.cart:hover img {
    transform: scale(1.2);
}


nav a {
    text-decoration: none;
    color: #732f24;
    padding: 8px 14px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

nav a:not(.cart):hover {
    background-color:#732f24;
    color: whitesmoke;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;
    animation: fadeInUp 0.8s ease forwards;
}

.image-container img {
    width: 100%;
    border-radius: 35px;
    display: block;
}

.overlay-box {
    position: absolute;
    bottom: 40px;
    left: 70px;
    text-align: center;

    background: rgba(255,255,255,0.9);
    padding: 5px;
    border-radius: 15px;

    max-width: 400px;
    width: 90%;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.8s ease forwards;
}


.aboutus-container {
    display: flex;
    justify-content: center;      
    align-items: center;          
    gap: 80px;
    padding: 80px 40px;
    max-width: 1200px;
    margin: 0 auto;              
    box-sizing: border-box;
}

.aboutus-container img {
    width: 500px;
    max-width: 100%;
    border-radius: 35px;
    margin: 0;    
    animation: fadeInUp 0.8s ease forwards;
}

.aboutus-text {
    display: flex;
    flex-direction: column;
    align-items: center;          
    text-align: center;
    gap: 30px;
    margin: 40px;   
}

.about-us-hp {
    margin: 0;                   
}

.rounded-btn {    
  display: inline-block;
  color: whitesmoke;
  background-color: #732f24;       
  padding: 12px 28px;         
  border-radius: 25px;    
  border: 1px solid whitesmoke;     
  text-decoration: none;       
  font-size: 16px;
  transition: all 0.3s ease;   
  margin: 15px auto 0 auto;
}

.rounded-btn:hover {
  background-color: #732f24;  
  color: whitesmoke;
  transform: scale(1.05);     
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.product-container {
    margin: 100px;
    text-align: center;
}

.collection-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 50px;
}

.flower-card {
  background-color: #6b2c1a;
  color: white;
  width: 260px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding-bottom: 15px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flower-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.flower-card img {
  width: 90%;
  border-radius: 10px;
  margin: 13px;
}

.flower-card h3 {
  margin: 10px 0 5px 15px;
  font-size: 18px;
  font-weight: 600;
}

.flower-card p {
  margin: 0 0 10px 15px;
  font-size: 15px;
}

.add-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: white;
  color: #6b2c1a;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-btn:hover {
  background-color: #e0c5b5;
}

.contact-container {
    text-align: center;
    padding: 40px 20px;
    margin: auto;
}

.contact-container img {
    width: 100%;
    max-width: 800px;
    margin-bottom: auto;
}

.view-btn-container,
.inquiry-btn {
  display: flex;
  justify-content: center;
}



/* FOOTER */


.footer-container {
    margin: 100px 0 0 0;
    background-color: #732f24;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 20px;
    flex-wrap: nowrap;     
}

.footer-item {
  display: flex;                
  flex-direction: column;
  align-items: center;         
  text-align: center;
  font-size: 12px;
}

.footer-item img {
  padding: 12px;
}

.footer-container a {
    text-decoration: none;
    color:white;
}



/* ABOUT US PAGE */


.about-story {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    max-width: 1200px;
    margin: 80px auto;
    padding: 40px 20px;
    
}

.flower-sketch {
    width: 500px;
    max-width: 35%;
    animation: fadeInUp 0.8s ease forwards;
}

.story-content {
    position: relative;
    width: 700px;
    max-width: 100%;
    animation: fadeInUp 0.8s ease forwards;
}

.scroll-bg {
    width: 100%;
    display: block;
}

.story-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    text-align: center;
}

.story-text h2 {
    margin-bottom: 15px;
    font-size: 32px;
    font-family: 'Segoe Script';
}

.story-text p {
    font-size: 20px;
    font-family: 'Segoe Script';
    line-height: 1.6;
}



/* PRODUCT PAGE */

.products{
    max-width:1000px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.product-card{
    background:#7b2f23;
    color:white;
    border-radius:25px;
    padding:25px 30px;
    display:flex;
    align-items:center;
    gap:25px;
    position:relative;
    transition:transform .35s ease, box-shadow .35s ease;
    animation: fadeInUp 0.8s ease forwards;
}

.product-card:hover{
    transform:translateY(-6px) scale(1.01);
    box-shadow:0 12px 30px rgba(0,0,0,0.15);
}

.product-img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:15px;
    background:white;
    padding:10px;
    flex-shrink:0;
}

.product-info{
    flex:1;
}

.product-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
}

.product-header h3{
    margin:0;
    font-size:22px;
    font-weight:700;
}

.price{
    font-size:14px;
    opacity:.9;
}

.product-info p{
    margin: 0;
    font-size:14px;
    line-height:1.5;
    opacity:.95;
}



/* CONTACT PAGE */

.contact-section {
    text-align: center;
    padding: 60px 20px;
    animation: fadeInUp 0.8s ease forwards;
}

.contact-title {
    font-size: 36px;
    font-weight: bold;
    color: #7b2f21;
    margin-bottom: 10px;
}

.contact-subtitle {
    color: #7b2f21;
    font-size: 15px;
    margin-bottom: 40px;
}

.social-icons {
    margin-bottom: 50px;
}

.social-icons img {
    width: 55px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.contact-card {
    background-color: #7b2f21;
    width: 650px;
    margin: auto;
    padding: 50px 60px;
    border-radius: 40px;
    color: white;
}

.form-group {
    display: flex;
    align-items: left;
    margin-bottom: 25px;
}

.form-group label {
    width: 120px;
    text-align: left;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

.form-group textarea {
    height: 160px;
    resize: none;
}


/* CHECKOUT PAGE */

.checkout-wrapper {
    padding: 60px 20px;
    animation: fadeInUp 0.8s ease forwards;
}

.checkout-container {
    max-width: 1100px;
    margin: auto;
    border: 1px solid #732f24;
    border-radius: 30px;
    display: flex;
    background: #f5f5f5;
}

.cart-section {
    width: 50%;
    padding: 40px;
    text-align: center;
    border-right: 1px solid #732f24;
}

.cart-section h2 {
    margin-bottom: 40px;
}

.cart-item {
    margin-bottom: 50px;
}

.cart-item img {
    width: 180px;
    border: 1px solid #732f24;
    padding: 10px;
}

.item-name {
    margin-top: 15px;
    font-weight: 600;
}

.item-price {
    font-size: 14px;
    margin: 5px 0;
}

.remove {
    font-size: 12px;
    text-decoration: underline;
    color: #732f24;
}


.checkout-section {
    width: 50%;
    padding: 40px 80px;
}

.checkout-section h2 {
    margin-bottom: 30px;
    text-align: center;
}

.checkout-section form {
    display: flex;
    flex-direction: column;
}

.checkout-section label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

.checkout-section input,
.checkout-section textarea {
    padding: 8px 10px;
    border: 1px solid #732f24;
    border-radius: 6px;
    background: transparent;
}

.checkout-section textarea {
    height: 120px;
    resize: none;
}

.payment-options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payment-options input {
    margin-right: 6px;
}

.checkout-btn {
    margin-top: 25px;
    align-self: center;
    padding: 12px 35px;
    background: #732f24;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.checkout-btn:hover {
    background: #5a241b;
}



/* TABLET VIEW */
@media (max-width: 1024px) {

    nav {
        padding: 0;
    }

    .links-container {
        gap: 20px;
    }

    .aboutus-container {
        flex-direction: column;
        gap: 40px;
        padding: 60px 20px;
        text-align: center;
    }

    .aboutus-container img {
        width: 400px;
    }

    .about-story {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .flower-sketch {
        max-width: 60%;
    }

    .product-card {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .product-header {
        flex-direction: column;
        gap: 5px;
    }

    .contact-card {
        width: 90%;
        padding: 40px;
    }

    .checkout-container {
        flex-direction: column;
    }

    .cart-section,
    .checkout-section {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #732f24;
    }

    .checkout-section {
        padding: 40px;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 20px;
    }
}


/* MOBILE VIEW */

@media (max-width: 768px) {


    
    /* HOME PAGE */

    nav {
        flex-direction: column;
        gap: 35px;
        text-align: center;
    }

    .links-container {
        font-size: x-small;
        justify-content: center;
    }

    .image-container {
        margin: 50px auto;
    }

    .overlay-box {
        left: 15%;
        transform: translateX(-50%);
        bottom: 50px;
        width: 70%;
        font-size: x-small;
    }

    .aboutus-text h2 {
        font-size: 30px;
    }


    /* ABOUT US PAGE */

    .about-story {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        animation: fadeInUp 0.8s ease forwards;
    }

    .flower-sketch {
        width: 200px;
        max-width: 60%;
    }

    .story-content {
        width: 100%;
        
    }

    .story-text h2 {
        font-size: 22px;
    }

    .story-text p {
        font-size: 10px;
    }

    /* PRODUCT PAGE */

    .product-container {
        margin: 60px 20px;
    }

    .collection-container {
        gap: 20px;
        margin: 30px 10px;
    }

    .flower-card {
        width: 100%;
        margin: 15px auto;
    }



    /* CONTACT PAGE */

    .contact-title {
        font-size: 26px;
    }

    .contact-subtitle {
        font-size: 14px;
    }

    .contact-card {
        padding: 30px 20px;
    }

    .form-group {
        flex-direction: column;
        gap: 5px;
    }

    .form-group label {
        width: 100%;
    }


    /* CHECKOUT PAGE */

    .checkout-wrapper {
        padding: 30px 15px;
    }

    .checkout-container {
        border: none;
    }

    .cart-section,
    .checkout-section {
        padding: 5px;
    }

    .cart-item img {
        width: 140px;
    }

    .checkout-section textarea {
        height: 100px;
    }

    .checkout-btn {
        width: 100%;
        padding: 14px;
    }

    
    /* FOOTER */

    .footer-container {
        margin: 100px 0 0 0;
        background-color: #732f24;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 20px;
        flex-wrap: nowrap;     

    }


    .footer-item {
        display: flex;                
        flex-direction: column;
        align-items: center;         
        text-align: center;
        font-size: 12px;
        font-size: 9px;
    }

    .footer-item img {
        padding: 12px;
    }

    .footer-container a {
        text-decoration: none;
        color:white;
        font-size: 9px;
    }

}



/* SCROLL REVEAL EFFECT */

.reveal {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 0.9s ease forwards;

  /* makes animation trigger when entering viewport */
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn { 
    from { 
        opacity: 0; 
    } 
    to { 
        opacity: 1; 
    } 
}




